:root {
    --fontColor: hsl(33, 56%, 15%);
    --fontHiColor: hsl(33, 56%, 25%);
    --bgColor: hsla(46, 100%, 90%, 1);
}

body {
    margin: 0;
    font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
    color: var(--fontColor);
    background: var(--bgColor) url("nnnoise.svg") repeat;

}

a {
    text-decoration: none;
    color: var(--fontColor);
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--fontHiColor);
}

header {
    justify-self: center;
    align-self: center;
}

header h1 {
    font-weight: 400;
    font-size: 4rem;
    line-height: 8rem;
    text-align: center;
    margin: 0;
}

header h2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

nav {
    max-width: 640px;
    margin: 2rem auto;
    text-align: center;
    padding-bottom: 1rem;
}

nav span {
    margin: 0 1rem;

}

section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 480px);
    justify-content: center;
}

@media all and (min-width: 640px) {
    section {
        grid-template-columns: repeat(auto-fill, 640px);
    }
}

article {
    margin-top: 4rem;
    max-width: 100%;
    display: grid;
    grid-template-rows: 1rem 6rem auto;
}



article p {
    margin: 0;
}

article aside {
}

article aside p {
    line-height: 1rem;
}

article > p {
    font-size: 2rem;
    line-height: 2.6rem;
    max-height: 5.2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

article .f {

}

picture {
    display: flex;
    min-height: 0;
    justify-content: left;
    cursor: pointer;
    aspect-ratio: 1;

}

picture img {
    flex-shrink: initial;
    aspect-ratio: 1;
    max-width: 100%;
}

#W {
    min-width: 480px;
}

#M {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 20%, 80%);
    background-image: url('/spinning-circles.svg');
    background-position: center center;
    background-repeat: no-repeat;
}

#M.hidden {
    display: none;
}

#M .frame {
    max-width: 96vw;
    max-height: 96vh;
    display: flex;
    object-fit: contain;
    justify-content: center;
}

#M .frame picture {
    display: flex;
    justify-content: center;
}

#M .frame img {
    max-width: 100%;
    max-height: 100%;
}

form {
    max-width: 640px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 40px 40px 40px 40px;
    gap: 1rem;
}

form label {
    text-align: right;
    line-height: 40px;
}

form input[type="submit"] {
    grid-column: 2/3;
}

.pagination {
    margin: 5rem auto 4rem;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fontColor);
    color: var(--bgColor);
    min-width: 3rem;
    min-height: 3rem;
}

.pagination a:hover {
    background-color: var(--fontHiColor);
}

.pagination a.current {
    text-decoration: underline;
}