:root {
    --fontColor: hsl(33, 56%, 15%);
    --fontHiColor: hsl(33, 56%, 25%);
}

body {
    margin: 0;
    font-family: 'Georgia', 'Baskerville Old Face', serif;
    color: var(--fontColor);
    background-color: hsl(42, 39%, 70%);
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--fontHiColor);
}

header h1 {
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
}

header h2 {
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center;
}

nav {
    max-width: 640px;
    margin: 2rem auto;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--fontColor);
}

nav span {
    margin: 0 1rem;

}

section {
    max-width: 640px;
    margin: 2rem auto;
}

article {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    align-items: baseline;
    margin: 3rem 0 4rem;
}

article p {
    margin: 0;
}

article aside p {
    align-self: baseline;
}

article > p {
    font-size: 2rem;
    line-height: 2.6rem;
}

figure {

    margin: 1rem 0 0 0;
}

#M {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 20%, 90%);
}

#M.hidden {
    display: none;
}

#M .frame {
    max-width: 96vw;
    max-height: 96vh;
    display: flex;
    object-fit: contain;
    justify-content: center;
}

#M .frame picture {
    display: flex;
    justify-content: center;
}

#M .frame img {
    max-width: 100%;
    max-height: 100%;
}

form {
    max-width: 640px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 40px 40px 40px 40px;
    gap: 1rem;
}

form label {
    text-align: right;
    line-height: 40px;
}

form input[type="submit"] {
    grid-column: 2/3;
}